{% extends 'base.html' %}
{% block content %}
<h1 class="text-4xl font-bold text-center mb-8">Welcome to the Drive Migrator</h1>

<p class="text-center text-lg mb-12">
    To continue, you'll need service worker keys for your source and destination Workspaces.
</p>

<div class="flex justify-center space-x-8">
    <a href="https://github.com/Region1-IT-Projects/Shared-Drive-Migrator/blob/main/README.md" class="px-8 py-3 bg-blue-500 text-gray-900 rounded-full text-lg font-semibold hover:bg-blue-400 transition duration-300">
        Documentation
    </a>
    <a href="/setup/source" class="px-8 py-3 bg-green-500 text-gray-900 rounded-full text-lg font-semibold hover:bg-green-400 transition duration-300">
        Continue
    </a>
</div>

{% endblock %}