{% extends 'base.html' %}
{% block head %}
{{ super() }}
<script>
    tailwind.config = {
        darkMode: 'class',
        theme: {
            extend: {
                colors: {
                    dark: {
                        100: '#1a1a1a',
                        200: '#2a2a2a',
                        300: '#3a3a3a',
                    }
                }
            }
        }
    }
</script>
<style>
    .checkbox-wrapper {
        display: inline-block;
        position: relative;
        padding-left: 25px;
        cursor: pointer;
    }

    .checkbox-wrapper input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: #2d3748;
        border: 1px solid #4a5568;
        border-radius: 3px;
    }

    .checkbox-wrapper:hover input ~ .checkmark {
        background-color: #4a5568;
    }

    .checkbox-wrapper input:checked ~ .checkmark {
        background-color: #48bb78;
    }

    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    .checkbox-wrapper input:checked ~ .checkmark:after {
        display: block;
    }

    .checkbox-wrapper .checkmark:after {
        left: 6px;
        top: 2px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
    }
</style>
{% endblock %}
{% block content %}

<div class="container mx-auto p-8 max-w-2xl">
    <h1 class="text-3xl font-bold mb-6 text-center">{{ name }}'s Owned Drives:</h1>

    <div class="flex justify-between mb-6">
        <label class="checkbox-wrapper">
            Skip already-moved files
            <input name="skip_moved" type="checkbox" checked>
            <span class="checkmark"></span>
        </label>
    </div>

    <div class="space-y-4">
        <div class="flex items-center justify-between bg-purple-800 p-4 rounded-lg">
            <span>Personal Drive</span>
            <label class="checkbox-wrapper">
                 Migrate
                <input name="personal" type="checkbox" checked>
                <span class="checkmark"></span>
            </label>
        </div>
        {% for team_drive in drives %}
        <div class="flex items-center justify-between {% if team_drive.migrated %} bg-gray-600 {% else %} bg-blue-800 {% endif %} p-4 rounded-lg">
            <span>{{ team_drive.name }}</span>
            <div id="{{ team_drive.id }}-spinner" class="hidden mt-4 text-center flex items-center">
                <svg class="animate-spin h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none"
                     viewBox="0 0 24 24">
                    <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                    <path class="opacity-75" fill="currentColor"
                          d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                </svg>
                <p id="{{ team_drive.id }}-progress" class="text-sm text-gray-400 ml-2">Processing...</p>
            </div>
            <label class="checkbox-wrapper">
                Migrate
                <input name="{{ team_drive.id }}-domigrate" type="checkbox" {% if not team_drive.migrated %} checked {%
                       endif %}>
                <span class="checkmark"></span>
            </label>
        </div>
        {% endfor %}
    </div>

    <div class="mt-8 text-center">
        <button id="start_btn" class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-8 rounded-full transition duration-300">
            Start
        </button>
        <div id="btn_spinner" class="hidden mt-4 text-center">
        <svg class="animate-spin h-6 w-6 text-white mx-auto" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
            <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
        </svg>
        <p class="text-sm text-gray-400 mt-2">Indexing Files... (this will take a while)</p>
    </div>
    </div>
</div>
<script>
    async function updateProgress(id) {
        try {
            // Make a request to the server
            const response = await fetch(`/migrate/progress/${id}`);

            let data;
            const progressElement = document.getElementById(`${id}-progress`);
            if (!response.ok) {
                data = "Failed: " + response.statusText;
                progressElement.textContent = data;
                return true; // act as if migration is complete
            } else {
                data = await response.text();
            }

            let progress = parseInt(data.split('/')[0]) / parseInt(data.split('/')[1]);
            // Ensure the element exists before updating
            if (progressElement) {
                if (progress === 1) {
                    progressElement.textContent = "Done";
                } else {
                    progressElement.textContent = data || "???/???";
                }
                return (progress === 1);
            } else {
                console.error(`Element with ID "${id}-progress" not found in the document.`);
            }
        } catch (error) {
            console.error("Error fetching or updating progress:", error);
        }
    }
    const start_button = document.getElementById('start_btn');
    start_button.addEventListener('click', () => {
        document.getElementById('btn_spinner').classList.remove('hidden');
        start_button.disabled = true;
        start_button.classList.add('opacity-50', 'cursor-not-allowed');
        // Gather checkbox data
        const checkboxes = document.querySelectorAll('input[type="checkbox"]');
        const checkboxData = {};

        checkboxes.forEach(checkbox => {
            checkboxData[checkbox.name] = checkbox.checked;
        });

        // Send data via POST request
        fetch('/migrate/user/drives/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(checkboxData),
        })
            .then(response => {
                if (response.ok) {
                    start_button.classList.add('hidden');
                    document.getElementById('btn_spinner').classList.add('hidden');
                    let enabled_drives = [];
                    checkboxes.forEach(checkbox => {
                        if (checkbox.checked && checkbox.name.endsWith('-domigrate')) {
                            enabled_drives.push(checkbox.name.split('-')[0]);
                        }
                    });

                    // Poll for progress updates every second
                    const pollProgressUpdates = async () => {
                        while (enabled_drives.length > 0) {
                            for (let i = 0; i < enabled_drives.length; i++) {
                                const spinner = document.getElementById(`${enabled_drives[i]}-spinner`);
                                if (await updateProgress(enabled_drives[i])) {
                                    // Remove drive from active list
                                    enabled_drives.splice(i, 1);
                                    // Disable spinner
                                    if (!spinner.classList.contains('hidden')) {
                                        spinner.classList.add('hidden');
                                    }
                                } else {
                                    if (spinner.classList.contains('hidden')) {
                                        spinner.classList.remove('hidden');
                                    }
                                }
                            }

                            // Wait for 1 second before the next polling iteration
                            await new Promise(resolve => setTimeout(resolve, 1000));
                        }
                    };

                    pollProgressUpdates().then(() => {
                        // Redirect to complete page after polling finishes
                        window.location.href = `/migrate/success`;
                    });
                } else {
                    alert('Failed to submit migration request: ' + response.statusText);
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('An error occurred while submitting the migration request.');
            });
    });

</script>

{% endblock %}